---
layout: default
title: Home
---
<main>
    <div class="container">
        <div class="card">
            <blockquote>
                <h1>Hi i'm Allan!</h1>
                <ul>
                    <li><p>Software developer focused on <b>Linux</b>, Embedded Systems, DevOps and Building Tools.</p></li>
                    <li><p>Languages I speak: C/C++, Java, JavaScript, Python, TypeScript and Shell Script.</p></li>
                    <li><p>Tools I like to use: CMake, Docker and AWS.</p></li>
                    <li><p>Open source contributor & <i>pixel wizard</i>.</p></li>
                    <li><p>I love dogs &#128021;</p></li>
                </ul>
            </blockquote>
        </div>
        {% for post in site.posts %}
        <div class="card">
            <div class="post-card">
                <a href="{{ post.url }}">
                    <h1>{{ post.title }}</h1>
                </a>
                <hr>
                {{ post.excerpt }}
                <hr>
                <div class="tags">
                {% for ptag in post.tags %}
                {% for dtag in site.data.tags %}
                {% if dtag.name == ptag %}
                    <div class="tag">{{ dtag.emoji }} {{ dtag.name }}</div>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>