<header>
    <div class="container">
        <div class="branding">
            <div class="title">
                <h1>{{ "Allan C. M. Lira" | downcase }}</h1>
                <h2>{{ "software developer • pixel sorcerer • apt-get a life" | upcase }}</h2>
            </div>
            <div class="avatar">
                <span class="circuit left"></span>
                <img alt="It's me!" class="photo" src="https://avatars.githubusercontent.com/u/30937401?s=460&u=1840c3b9ce53500f8eb25c1498fa0447246e37b0&v=4"/>
                <span class="circuit right"></span>
            </div>
        </div>
    </div>
</header>