// General colors
$primary-color: #1c1c1c;
$secondary-color: #282828;
$third-color:#3A3A3A;
$fourth-color: #5a5a5a;
// Font colors
$primary-text-color: #fffffff3;
$secondary-text-color: #5a5a5af3;
$third-text-color: #999999f3;
// Fonts
$primary-font-family: 'Open Sans';
$secondary-font-family: 'Lato';
$third-font-family: 'Satisfy';
$fourth-font-family: 'Rock Salt';
// Glow colors
$glow-primary-color: rgb(255, 185, 0);
$glow-secondary-color: rgb(0, 255, 185);
$glow-third-color: rgb(185, 0, 255);
