// General colors
$primary-color: #1c1c1c;
$secondary-color: #282828;
$third-color:#3A3A3A;
$fourth-color: #5a5a5a;
$fifth-color: #353535; 
// Font colors
$primary-text-color: #fffffff3;
$secondary-text-color: #5a5a5af3;
$third-text-color: #999999f3;
// Fonts
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Lato', serif;
$third-font-family: 'Fira Code', monospace;
// Glow colors
$glow-primary-color: rgb(255, 185, 0);
$glow-secondary-color: rgb(0, 255, 185);
$glow-third-color: rgb(210, 50, 255);
$glow-fourth-color: rgb(50, 105, 255)
