footer {
    width: 100%;
    height: 10em;
    background-color: $primary-color;
    -webkit-box-shadow: 10px 10px 40px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 40px 8px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 40px 8px rgba(0,0,0,0.3);
}