main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    blockquote {
        font-size: 1.4em;
        margin:2.25em auto;
        font-family:Open Sans;
        font-style:italic;
        color: $primary-text-color;
        padding:1.2em 1.95em 1.2em 4.8em;
        border-left:8px solid $third-color;
        line-height:1.6;
        position: relative;
        background:$secondary-color;
        border-radius: .2em;
        border
        &::before {
            font-family:Arial;
            content: "\201C";
            color:$third-color;
            font-size:4em;
            position: absolute;
            left: 10px;
            top:-10px;
        }

        &::after {
            content: '';
        }
    }
}